.slide-content div {
    height: 360px;
    margin-bottom: 7rem;
}

.slide-content div img {
    height: 100%;
    width: auto!important;
}

.Switch {
    /* background: url(https://www.zelda.com/breath-of-the-wild/assets/media/wallpapers/desktop-1.jpg); */
}