{{ define "powermaster.tmpl" }}
<html><h1>
	{{ .thing }}
</h1>
<body>
  <p>HA HAH AH AHA HA SURPRISED TO SEE ME?</p>
  <p>YOU THOUGHT YOU COULD DEFEAT ME? DONT MAKE ME LAUGH!</p>
  <p>
    <img width="480px" src="https://spikeybits.com/wp-content/uploads/2019/04/Screenshot_991.jpg"/>
  </p>
  <p>BEEP BOOP - I, <b>DANTE THE METALLIC</b>, AM HERE TO SAVE THE GALAXY
  </p>
  <p>
  <img src="/assets/images/dante.png"/>
  </p>

  The Evil Power Master takes one look at your shiny chassis and lets out a wild cackle.

  HAHAHAHAHAHA! You stand no chance, Daniel.

  <i>He lifts his wrinkled fist and begins winding up a powerful blow.</i>
  <i>Dante dodges his swing and aims his blaster.</i>
  <p><button>Roll to Hit</button></p>
  <p>Uh oh... Not good enough! Try again.</p>
</body>
<details>
    <summary>Next Clue</summary>
    the record player.
</details>
</html>
{{ end }}