{{ define "projector.tmpl" }}
<html><h1>
	{{ .thing }}
</h1>
<body>
  <p>our home theater
  </p>
  <p>
    <img src="https://c.tenor.com/kWQMS3NAPPAAAAAM/madonna-maverick-management.gif"/>
  </p>

</body>
<details>
    <summary>Next Clue</summary>
    Nothing is quite like a role-playing barbeque where we defeat the Evil Power Master.
</details>
</html>
{{ end }}